body {
    margin: 0;
    background-color: black;
    color: #f6f6f6;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
main {
    display: flex;
    align-items: center;
}
strong {
    color: #22d4fd;
}
.text {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 20px;
}
.text h1 {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 40px;
}
.text p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 25px;
    text-align: justify;
}
.links {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
a {
    display: inline-block;
    padding: 20px;
    width: 190px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    background-color: #22d4fd;
    color: #000;
    font-weight: bold;
}
a:hover {
    background-color: #26badb;
}
img {
    height: 400px;
}