@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
    color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
}

.main_conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 15px;
}
.main_conteudo_titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}
.main_conteudo_texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.main_conteudo_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px
}
.main_conteudo_links_subtitulo {
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
}

.main_conteudo_links_link {
    width: 380px;
    padding: 21px 0;
    border: 2px solid #22d4fd;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    color: #f6f6f6;
}
.main_conteudo_links_link:hover {
    background-color: #1ab1d3;
}
.titulo-destaque {
    color: #22d4fd;
}
