.text {
    margin-top: 80px;
    text-align: center;
}

.text h2, .text h2 span {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 52px;
}

.text p {
    margin-top: 15px;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 26px;
    opacity: 0.6;
}